<div class="ptcg-match-table ptcg-u-padding">

  <h3>Recent matches</h3>

  <ptcg-content [loading]="loading">
    <table mat-table [dataSource]="matches" class="mat-elevation-z2">

      <!-- Game ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let match">{{match.matchId}}</td>
      </ng-container>

      <!-- Player 1 -->
      <ng-container matColumnDef="player1">
        <th mat-header-cell *matHeaderCellDef>Player 1</th>
        <td mat-cell *matCellDef="let match">
          <ptcg-user-bar [user]="users[match.player1Id]"
            [marked]="match.winner === GameWinner.PLAYER_1">
          </ptcg-user-bar>
        </td>
      </ng-container>

      <!-- Player 2 -->
      <ng-container matColumnDef="player2">
        <th mat-header-cell *matHeaderCellDef>Player 2</th>
        <td mat-cell *matCellDef="let match">
          <ptcg-user-bar [user]="users[match.player2Id]"
            [marked]="match.winner === GameWinner.PLAYER_2">
          </ptcg-user-bar>
        </td>
      </ng-container>

      <!-- Player 2 -->
      <ng-container matColumnDef="ranking">
        <th mat-header-cell *matHeaderCellDef>Ranking</th>
        <td mat-cell *matCellDef="let match">
          <div *ngIf="id === match.player1Id; then ranking1; else ranking2"></div>
          <ng-template #ranking1>
            {{ match.ranking1 }} <span>({{ match.rankingStake1 }})</span>
          </ng-template>
          <ng-template #ranking2>
            {{ match.ranking2 }} <span>({{ match.rankingStake2 }})</span>
          </ng-template>
        </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let match">
          <button mat-button (click)="showReplay()">Replay</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="ptcg-u-padding ptcg-table-loading-failed" *ngIf="loadingFailed">
      <p>Error while loading the content.</p>
      <button mat-raised-button color="primary" (click)="loadMatches(id)">
        Try again
      </button>
    </div>

  </ptcg-content>

</div>
