<ptcg-content [loading]="loading">
  <mat-toolbar>
    <mat-toolbar-row>
      <h1>Profile summary</h1>

      <span class="ptcg-u-spacer"></span>

      <div *ngIf="owner$ | async ; then ownerActions ; else visitorActions"></div>
      <ng-template #ownerActions>
        <button mat-raised-button color="primary" (click)="editAvatars(userId)">
          Edit avatars
        </button>
        <button mat-raised-button color="primary" (click)="changePassword()">
          Change password
        </button>
      </ng-template>
      <ng-template #visitorActions>
        <button mat-raised-button color="primary" [routerLink]="['/message', userId]">
          Send message
        </button>
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="ptcg-user-details ptcg-u-padding" *ngIf="user$ | async; let user">
    <mat-card>
      <mat-card-content>
        <ptcg-user-info-pane [user]="user"></ptcg-user-info-pane>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="ptcg-recent-matches" *ngIf="user$ | async; let user">
    <ptcg-match-table [userId]="user.userId"></ptcg-match-table>
  </div>

</ptcg-content>
