<ptcg-content [loading]="loading">
  <mat-toolbar>
    <mat-toolbar-row>
      <h1>Profile summary</h1>

      <span class="ptcg-u-spacer"></span>

      <button mat-raised-button color="primary" (click)="getMatchHistory()">
        Invite to play
      </button>
      <button mat-raised-button color="primary">Send message</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="ptcg-user-details ptcg-u-padding" *ngIf="user">
    <mat-card class="example-card">
      <mat-card-content>
        <div class="ptcg-profile-avatar">
          <ptcg-avatar type="profile"></ptcg-avatar>
        </div>
        <div class="ptcg-profile-summary">
          <table>
            <tr>
              <th>Name</th>
              <td>{{ user.name }}</td>
            </tr>
            <tr>
              <th>Ranking</th>
              <td><ptcg-rank [ranking]="user.ranking" [rank]="user.rank"></ptcg-rank></td>
            </tr>
            <tr>
              <th>Last seen</th>
              <td>2020-01-01</td>
            </tr>
            <tr>
              <th>Win ratio</th>
              <td>13/24 (50%)</td>
            </tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="ptcg-recent-matches ptcg-u-padding">
    <h3>Recent matches</h3>
    <ptcg-match-table></ptcg-match-table>
  </div>

</ptcg-content>
