<ptcg-sidebar-container>

  <ptcg-sidebar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let conversation of (conversations$ | async)"
        class="ptcg-no-padding-list-item">
        <ptcg-user-bar [user]="user"></ptcg-user-bar>
      </a>
    </mat-nav-list>
  </ptcg-sidebar>

  <ptcg-content [loading]="loading">

    <div class="ptcg-messages-container" *ngIf="user$ | async; let user ; else emptyMessageHistory">
      <mat-toolbar>
        <mat-toolbar-row>
          <h1>{{ user.name }}</h1>

          <span class="ptcg-u-spacer"></span>

          <button mat-raised-button color="primary" (click)="deleteMessages(user.userId)">
            Delete messages
          </button>
        </mat-toolbar-row>
      </mat-toolbar>

      <div class="ptcg-messages-content ptcg-u-padding">
      </div>

      <div class="ptcg-messages-footer">
        <form class="ptcg-messages-form" autocomplete="off">
          <mat-form-field floatLabel="never" appearance="legacy">
            <input
              name="message"
              [(ngModel)]="message"
              type="text" matInput placeholder="Enter message">
            <button mat-button matSuffix mat-icon-button
              matTooltip="Send message"
              matTooltipShowDelay="1000"
              (click)="sendMessage(userId, message)">
              <mat-icon>play_arrow</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
    </div>

    <ng-template #emptyMessageHistory>
      <mat-toolbar>
        <mat-toolbar-row>
          <h1>Messages</h1>
        </mat-toolbar-row>
      </mat-toolbar>

      <div class="ptcg-u-padding">
        <mat-card>
          <p>Your message history is empty.</p>
          <p>To start a conversation you must visit the user's profile page.</p>
        </mat-card>
      </div>
    </ng-template>
  </ptcg-content>

</ptcg-sidebar-container>
