<h2 class="mat-dialog-title">Choose cards</h2>

<mat-dialog-content>
  <p>{{ message }}</p>

  <ptcg-choose-cards-panes
    [cards]="cards.cards"
    [cardbackMap]="cardbackMap"
    [filter]="filter"
    [blocked]="blocked"
    (change)="onChange($event)">
  </ptcg-choose-cards-panes>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button *ngIf="allowedCancel" [disabled]="gameState.deleted"
    (click)="cancel()">
    Cancel
  </button>
  <button mat-raised-button color="primary" [disabled]="gameState.deleted || isInvalid"
    (click)="confirm()">
    OK
  </button>
</mat-dialog-actions>
