<ptcg-content class="ptcg-u-padding">
  <h1 class="mat-h1">
    Password Reset
  </h1>

  <div class="ptcg-reset-password-form">
    <!-- Player Name -->
    <mat-card>

      <mat-card-content>
        <!-- E-mail -->
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="E-mail">
          <mat-hint>
            Please specify your account e-mail address.
          </mat-hint>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <p>
      <button mat-raised-button color="primary">Send</button>
    </p>

  </div>

</ptcg-content>
