<ptcg-content [loading]="loading" class="ptcg-u-padding">

  <h1 class="mat-h1">
    Password Reset
  </h1>

  <div class="ptcg-reset-password-form">
    <!-- Player Name -->
    <mat-card>

      <mat-card-content>
        <form #form="ngForm">
        
          <!-- E-mail -->
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="E-mail" name="email"
              [(ngModel)]="email" [disabled]="loading" #emailField="ngModel"
              ptcgEmailValidator [ptcgInvalidValue]="invalidEmail" required>
            <mat-hint>
              Please specify your account e-mail address.
            </mat-hint>
            <mat-error>
              <div *ngIf="emailField.errors?.email">VALIDATION_INVALID_EMAIL</div>
              <div *ngIf="emailField.errors?.invalidValue">RESET_PASSWORD_EMAIL_NOT_EXISTS</div>
            </mat-error>
          </mat-form-field>

        </form>
      </mat-card-content>
    </mat-card>

    <p>
      <button mat-raised-button color="primary"
        [disabled]="loading || form.invalid"
        [ngClass]="{'ptcg-u-loading': loading}"
        (click)="sendMail()">
        Send
      </button>
    </p>

  </div>

</ptcg-content>
