<h2 mat-dialog-title>Sign in</h2>

<mat-dialog-content class="ptcg-login-popup-content">

  <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate" class="ptcg-u-top">
  </mat-progress-bar>

  <form #form="ngForm">

    <!-- Username -->
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput name="name" placeholder="Username" ptcgNameValidator
        [disabled]="loading" [(ngModel)]="name" #nameField="ngModel">
      <mat-error *ngIf="!nameField.pristine && nameField.invalid">
        Invalid name
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput name="password" placeholder="Password"
        ptcgPasswordValidator password-min-length="1"
        [disabled]="loading" [(ngModel)]="password" #passwordField="ngModel">
      <mat-error *ngIf="!nameField.pristine && nameField.invalid">
        Invalid password
      </mat-error>
    </mat-form-field>

    <section class="ptcg-game-rule-checkbox">
      <mat-checkbox color="primary" name="remember"
        [disabled]="loading" [(ngModel)]="rememberMe">
        Remember me
      </mat-checkbox>
    </section>

  </form>

  <p>
    <button mat-raised-button color="primary" (click)="login()"
      [disabled]="loading || form.invalid">
      Sign in
    </button>
  </p>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="mat-small">
    <a class="ptcg-login-popup-link" *ngIf="allowServerChange"
       [class.disabled]="loading" (click)="changeServer()">Change server address</a>
    <a class="ptcg-login-popup-link" (click)="register()">Create a new account</a>
    <a class="ptcg-login-popup-link" (click)="resetPassword()">I forgot my password</a>
  </div>
</mat-dialog-actions>
