<h2 class="ptcg-prompt-title" translate>PROMPT_CHOOSE_ENERGY_TITLE</h2>

<div class="ptcg-prompt-content">
  <p [translate]="'GAME_MESSAGES.' + message"></p>

  <ptcg-choose-cards-panes
    [cards]="cards.cards"
    [filter]="filter"
    (change)="onChange($event)">
  </ptcg-choose-cards-panes>
</div>

<div class="ptcg-prompt-actions">
  <button mat-raised-button *ngIf="allowedCancel" [disabled]="gameState.deleted"
    (click)="cancel()">
    {{ 'BUTTON_CANCEL' | translate }}
  </button>
  <button mat-raised-button color="primary" [disabled]="gameState.deleted || isInvalid"
    (click)="confirm()">
    {{ 'BUTTON_OK' | translate }}
  </button>
</div>
