@import '../../../../theme/variables.scss';

.ptcg-board-prizes {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.ptcg-board-prizes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  max-width: #{2 * map-get($ptcg-size, card)};
  width: calc(100% - #{2 * map-get($padding, small)});
}
