<h2 mat-dialog-title>Sign in</h2>

<mat-dialog-content class="ptcg-login-popup-content">

  <form #form="ngForm">

    <!-- Username -->
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput name="name" placeholder="Username" ptcgNameValidator
        [(ngModel)]="name" #nameField="ngModel">
      <mat-error *ngIf="!nameField.pristine && nameField.invalid">
        Invalid name
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput name="password" placeholder="Password"
        ptcgPasswordValidator password-min-length="1"
        [(ngModel)]="password" #passwordField="ngModel">
      <mat-error *ngIf="!nameField.pristine && nameField.invalid">
        Invalid password
      </mat-error>
    </mat-form-field>

  </form>

  <p>
    <button mat-raised-button color="primary" (click)="login()"
      [disabled]="form.invalid">
      Sign in
    </button>
  </p>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="mat-small">
    <a class="ptcg-login-popup-link" (click)="register()">Create a new account</a>
    <a class="ptcg-login-popup-link" (click)="resetPassword()">I forgot my password</a>
  </div>
</mat-dialog-actions>
