<ptcg-content [loading]="loading" class="ptcg-u-padding">

  <h1 class="mat-h1">
    Change your password
  </h1>

  <div class="ptcg-set-new-password-form">
    <!-- Form card -->
    <mat-card>

      <mat-card-content>
        <form #form="ngForm" autocomplete="off">

          <!-- New password -->
          <mat-form-field>
            <mat-label>New password</mat-label>
            <input type="password" matInput placeholder="New password" name="new-password"
              [(ngModel)]="newPassword" [disabled]="loading" #newPasswordField="ngModel"
              ptcgPasswordValidator required>
            <mat-error>
              <div *ngIf="newPasswordField.errors?.password">VALIDATION_INVALID_PASSWORD_FORMAT</div>
            </mat-error>
          </mat-form-field>

        </form>
      </mat-card-content>
    </mat-card>

    <p>
      <button mat-raised-button color="primary"
        [disabled]="loading || form.invalid"
        [ngClass]="{'ptcg-u-loading': loading}"
        (click)="changePassword()">
        Change password
      </button>
    </p>

  </div>

</ptcg-content>
