<div class="ptcg-match-table ptcg-u-padding">

  <h3 translate>GAMES_RECENT_GAMES_TITLE</h3>

  <ptcg-content [loading]="loading">
    <table mat-table [dataSource]="matches" class="mat-elevation-z2">

      <!-- Game ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef translate>LABEL_NUMBER</th>
        <td mat-cell *matCellDef="let match; let i = index;">
          {{ pageIndex * pageSize + i + 1 }}
        </td>
      </ng-container>

      <!-- Player 1 -->
      <ng-container matColumnDef="player1">
        <th mat-header-cell *matHeaderCellDef translate>LABEL_PLAYER_1</th>
        <td mat-cell *matCellDef="let match">
          <ptcg-user-bar openUserPopup="true"
            [user]="users[match.player1Id]"
            [marked]="match.winner === GameWinner.PLAYER_1">
          </ptcg-user-bar>
        </td>
      </ng-container>

      <!-- Player 2 -->
      <ng-container matColumnDef="player2">
        <th mat-header-cell *matHeaderCellDef translate>LABEL_PLAYER_2</th>
        <td mat-cell *matCellDef="let match">
          <ptcg-user-bar openUserPopup="true"
            [user]="users[match.player2Id]"
            [marked]="match.winner === GameWinner.PLAYER_2">
          </ptcg-user-bar>
        </td>
      </ng-container>

      <!-- Date -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef translate>LABEL_DATE</th>
        <td mat-cell *matCellDef="let match">
          {{ match.created | date: ('DATE_FORMAT' | translate) }}
        </td>
      </ng-container>

      <!-- Ranking -->
      <ng-container matColumnDef="ranking">
        <th mat-header-cell *matHeaderCellDef translate>LABEL_RANKING</th>
        <td mat-cell *matCellDef="let match">
          <div *ngIf="id === match.player1Id; then ranking1; else ranking2"></div>
          <ng-template #ranking1>
            {{ match.ranking1 }} <span>({{ match.rankingStake1 }})</span>
          </ng-template>
          <ng-template #ranking2>
            {{ match.ranking2 }} <span>({{ match.rankingStake2 }})</span>
          </ng-template>
        </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef translate>LABEL_ACTIONS</th>
        <td mat-cell *matCellDef="let match">
          <button mat-button [matMenuTriggerFor]="menu" translate>
            {{ 'BUTTON_REPLAY' | translate }}
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [disabled]="loading" (click)="showReplay(match.matchId)">
              {{ 'BUTTON_SHOW' | translate }}
            </button>
            <button mat-menu-item [disabled]="loading" (click)="saveReplay(match.matchId)">
              {{ 'BUTTON_SAVE' | translate }}
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator hidePageSize="true"
      [disabled]="loading"
      [length]="matchesTotal"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)">
    </mat-paginator>

    <div class="ptcg-u-padding ptcg-table-loading-failed" *ngIf="loadingFailed">
      <p translate>TABLE_ERROR_LOADING</p>
      <button mat-raised-button color="primary" (click)="loadMatches(id)">
        {{ 'BUTTON_TRY_AGAIN' | translate }}
      </button>
    </div>

  </ptcg-content>

</div>
