<h2 mat-dialog-title>
  <span *ngIf="facedown">Unknown Card</span>
  <span *ngIf="!facedown">{{ card.fullName }}</span>
</h2>

<mat-dialog-content>
  <ptcg-card-info-pane
    [card]="card"
    [facedown]="facedown"
    [options]="options"
    (action)="close($event)">
  </ptcg-card-info-pane>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" *ngIf="cardList"
    [disabled]="!card"
    (click)="showCardList()">
    Show card list
  </button>
  <section class="ptcg-card-info-reveal-cards" *ngIf="allowReveal">
    <mat-checkbox color="primary" name="reveal-card"
      [checked]="!facedown" (change)="facedown = !facedown">
      Reveal cards
    </mat-checkbox>
  </section>
  <span class="ptcg-u-spacer"></span>
  <button mat-raised-button (click)="close()" cdkFocusInitial>
    Close
  </button>
</mat-dialog-actions>
