<h2 mat-dialog-title>
  <span>{{ card.fullName }}</span>
  <span class="ptcg-u-spacer"></span>
  <button mat-raised-button color="primary" *ngIf="cardList"
    [disabled]="!card"
    (click)="toggleCardList()">
    Toggle card list
  </button>
</h2>

<mat-dialog-content>
  <ptcg-card-info-pane
    *ngIf="pane === CardInfoPopupPanes.CARD"
    [card]="card"
    [options]="options"
    (action)="close($event)">
  </ptcg-card-info-pane>

  <ptcg-card-list-pane
    *ngIf="pane === CardInfoPopupPanes.CARD_LIST"
    [selected]="card"
    [cardList]="cardList"
    (cardClick)="selectCard($event)">
  </ptcg-card-list-pane>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">
    Close
  </button>
</mat-dialog-actions>
