input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.ptcg-file-input {
  display: inline-table;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.ptcg-file-input-value {
  display: table-cell;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
