@import '../../../../theme/variables.scss';

ptcg-card {
  margin: map-get($padding, small);
  width: map-get($ptcg-size, card);

  &.unavailable {
    opacity: $ptcg-disabled-opacity;
  }

  &:not(.unavailable) {
    touch-action: none;
  }
}

skyhook-sortable-list {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}
