<ptcg-cards-container [keepInitialSize]="true">
  <skyhook-sortable-list
    [ssSortableSpec]="topSortable.spec"
    ssSortableTrigger="fixed"
    [ssSortableChildren]="topSortable.tempList"
    [ssSortableListId]="topListId">

    <ng-template ssTemplate let-context>
      <ptcg-card
        [ngClass]="{unavailable: !filterMap[context.data.card.fullName]}"
        [ssRender]="context"
        #render="ssRender"
        [dragSource]="render.source" [noHTML5Preview]="true"
        [class.placeholder]="render.isDragging$ | async"
        [card]="context.data.card">
      </ptcg-card>
    </ng-template>

  </skyhook-sortable-list>
</ptcg-cards-container>

<ptcg-cards-container [keepInitialSize]="true">
  <skyhook-sortable-list
    [ssSortableSpec]="bottomSortable.spec"
    ssSortableTrigger="fixed"
    [ssSortableChildren]="bottomSortable.tempList"
    [ssSortableListId]="bottomListId">

    <ng-template ssTemplate let-context>
      <ptcg-card
        [ssRender]="context"
        #render="ssRender"
        [dragSource]="render.source" [noHTML5Preview]="true"
        [class.placeholder]="render.isDragging$ | async"
        [card]="context.data.card">
      </ptcg-card>
    </ng-template>

  </skyhook-sortable-list>
</ptcg-cards-container>