<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.toggle()">Ryuu Play</button>
  <span class="ryuu-spacer"></span>
  
  <ptcg-profile-menu></ptcg-profile-menu>
</mat-toolbar>

<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav opened mode="side" class="ryuu-app-sidenav">
    <mat-nav-list>
      <a routerLink="/games" mat-list-item>Games</a>
      <a routerLink="/deck" mat-list-item>Deck</a>
      <a mat-list-item>Ranking</a>
      <a mat-list-item>Profile</a>
      <a mat-list-item>
        <span matBadge="1" matBadgeOverlap="false">Messages</span>
      </a>
    </mat-nav-list>

    <mat-divider></mat-divider>
    <mat-nav-list>
      <h4>Tables</h4>
      <a mat-list-item *ngFor="let table of (gameStates$ | async)"
        [routerLink]="['/table', table.gameId]">
        Table {{table.gameId}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

