@import '~@angular/material/theming';
@import '../theme/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  > mat-toolbar {
    @include mat-elevation(5);
    flex: 0 0 auto;
    z-index: 2;
  }

  > mat-toolbar .ryuu-spacer {
    flex: 1 1 auto;
  }

  > mat-sidenav-container {
    flex: 1 1;
  }
}

.ryuu-app-sidenav {
  min-width: map-get($ptcg-size, nav-menu);

  h4 {
    padding: 8px 16px;
  }
}
