@use '@angular/material' as mat;


@mixin ptcg-info-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $info-background-color: mat.get-color-from-palette($background, dialog);

  .ptcg-info {
    background-color: $info-background-color;
    color: mat.get-color-from-palette($foreground, text);
  }

}

@mixin ptcg-info-typography($config) {

  .ptcg-info {
    @include mat.typography-level($config, caption);
  }

}
