@import '../../../theme/variables.scss';

.ptcg-info-container {
  display: flex;
  justify-content: center;
}

.ptcg-info {
  border-radius: 4px;
  bottom: map-get($padding, normal);
  left: 50%;
  padding: map-get($padding, small);
  position: absolute;
  transform: translateX(-50%);
}
