<ptcg-content [loading]="loading" class="ptcg-u-padding">

  <h1 class="mat-h1" translate>
    REGISTER_TITLE
  </h1>

  <div class="ptcg-register-form">
    <!-- Player Name -->
    <mat-card>

      <mat-card-content>
        <form #form="ngForm">

          <mat-form-field>
            <mat-label translate>REGISTER_NAME</mat-label>
            <input matInput [placeholder]="'REGISTER_NAME' | translate" name="name"
              [(ngModel)]="name" [disabled]="loading" #nameField="ngModel"
              ptcgPlayerNameValidator [ptcgInvalidValue]="invalidName" required>
            <mat-hint translate>
              REGISTER_NAME_HINT
            </mat-hint>
            <mat-error>
              <div *ngIf="nameField.errors?.name" translate>VALIDATION_INVALID_NAME_FORMAT</div>
              <div *ngIf="nameField.errors?.invalidValue" translate>REGISTER_NAME_TAKEN</div>
            </mat-error>
          </mat-form-field>

          <!-- E-mail -->
          <mat-form-field>
            <mat-label translate>LABEL_EMAIL</mat-label>
            <input matInput [placeholder]="'LABEL_EMAIL' | translate" name="email"
              [(ngModel)]="email" [disabled]="loading" #emailField="ngModel"
              ptcgEmailValidator [ptcgInvalidValue]="invalidEmail" required>
            <mat-hint translate>
              REGISTER_EMAIL_HINT
            </mat-hint>
            <mat-error>
              <div *ngIf="emailField.errors?.email" translate>VALIDATION_INVALID_EMAIL_FORMAT</div>
              <div *ngIf="emailField.errors?.invalidValue" translate>REGISTER_EMAIL_TAKEN</div>
            </mat-error>
          </mat-form-field>

          <!-- Password -->
          <mat-form-field>
            <mat-label translate>REGISTER_PASSWORD</mat-label>
            <input type="password" matInput [placeholder]="'REGISTER_PASSWORD' | translate" name="password"
              [(ngModel)]="password" [disabled]="loading" #passwordField="ngModel"
              ptcgPasswordValidator required>
            <mat-hint translate>
              REGISTER_PASSWORD_HINT
            </mat-hint>
            <mat-error>
              <div *ngIf="passwordField.errors?.password" translate>VALIDATION_INVALID_PASSWORD_FORMAT</div>
            </mat-error>
          </mat-form-field>

          <!-- Confirm Password -->
          <mat-form-field>
            <mat-label translate>REGISTER_PASSWORD_CONFIRM</mat-label>
            <input type="password" matInput [placeholder]="'REGISTER_PASSWORD_CONFIRM' | translate" name="confirmPassword"
              [(ngModel)]="confirmPassword" [disabled]="loading" #confirmPasswordField="ngModel"
              [ptcgPasswordMatchValidator]="password" required>
            <mat-hint translate>
              REGISTER_PASSWORD_CONFIRM_HINT
            </mat-hint>
            <mat-error>
              <div *ngIf="confirmPasswordField.errors?.passwordMatch" translate>VALIDATION_PASSWORD_MATCH</div>
            </mat-error>
          </mat-form-field>

        </form>

      </mat-card-content>
    </mat-card>

    <p translate>
      REGISTER_NOTE
    </p>

    <p>
      <button mat-raised-button color="primary"
        [disabled]="loading || form.invalid"
        [ngClass]="{'ptcg-u-loading': loading}"
        (click)="register()">
        {{ 'REGISTER_BUTTON' | translate }}
      </button>
    </p>

  </div>

</ptcg-content>
