@import '../../../../theme/variables.scss';

.ptcg-avatar {
  height: map-get($ptcg-size, avatar);
  width: map-get($ptcg-size, avatar);
}

.empty {
  background-image: url("/assets/avatar.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
