@import '../../../../theme/variables.scss';

.ptcg-avatar {
  height: map-get($ptcg-size, avatar);
  width: map-get($ptcg-size, avatar);
}

:host[type="profile"] > .ptcg-avatar {
  height: map-get($ptcg-size, profile-avatar);
  width: map-get($ptcg-size, profile-avatar);
}

.empty {
  background-image: url("/assets/avatar.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ptcg-avatar > img {
  height: 100%;
  width: 100%;
}

.ptcg-avatar.hoverable {
  cursor: pointer;
  display: block;
  position: relative;

  &:after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
