<h2 mat-dialog-title translate>SET_PASSWORD_TITLE</h2>

<mat-dialog-content>

  <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate" class="ptcg-u-top">
  </mat-progress-bar>

  <p translate>SET_PASSWORD_NEW_HINT</p>

  <form #form="ngForm" autocomplete="off">

    <!-- Current password -->
    <mat-form-field>
      <mat-label translate>PROFILE_CURRENT_PASSWORD</mat-label>
      <input type="password" matInput [placeholder]="'PROFILE_CURRENT_PASSWORD' | translate" name="current-password"
        [(ngModel)]="currentPassword" [disabled]="loading" #currentPasswordField="ngModel"
        ptcgPasswordValidator [ptcgInvalidValue]="invalidPassword" required maxlength="32">
      <mat-error>
        <div *ngIf="currentPasswordField.errors?.password" translate>VALIDATION_INVALID_PASSWORD_FORMAT</div>
        <div *ngIf="currentPasswordField.errors?.invalidValue" translate>VALIDATION_INVALID_PASSWORD_VALUE</div>
      </mat-error>
    </mat-form-field>

    <!-- New password -->
    <mat-form-field>
      <mat-label translate>PROFILE_NEW_PASSWORD</mat-label>
      <input type="password" matInput [placeholder]="'PROFILE_NEW_PASSWORD' | translate" name="new-password"
        [(ngModel)]="newPassword" [disabled]="loading" #newPasswordField="ngModel"
        ptcgPasswordValidator required maxlength="32">
      <mat-error>
        <div *ngIf="newPasswordField.errors?.password" translate>VALIDATION_INVALID_PASSWORD_FORMAT</div>
      </mat-error>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>
    {{ 'BUTTON_CANCEL' | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="changePassword()" [disabled]="loading || form.invalid">
    {{ 'SET_PASSWORD_BUTTON' | translate }}
  </button>
</mat-dialog-actions>
