<h2 mat-dialog-title>Change password</h2>

<mat-dialog-content>

  <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate" class="ptcg-u-top">
  </mat-progress-bar>

  <p>
    Password must be at least 8 characters including at least one numeric character.
  </p>

  <form #form="ngForm" autocomplete="off">

    <!-- Current password -->
    <mat-form-field>
      <mat-label>Current password</mat-label>
      <input type="password" matInput placeholder="Current password" name="current-password"
        [(ngModel)]="currentPassword" [disabled]="loading" #currentPasswordField="ngModel"
        ptcgPasswordValidator [ptcgInvalidValue]="invalidPassword" required>
      <mat-error>
        <div *ngIf="currentPasswordField.errors?.password">VALIDATION_INVALID_PASSWORD_FORMAT</div>
        <div *ngIf="currentPasswordField.errors?.invalidValue">VALIDATION_INVALID_PASSWORD</div>
      </mat-error>
    </mat-form-field>

    <!-- New password -->
    <mat-form-field>
      <mat-label>New password</mat-label>
      <input type="password" matInput placeholder="New password" name="new-password"
        [(ngModel)]="newPassword" [disabled]="loading" #newPasswordField="ngModel"
        ptcgPasswordValidator required>
      <mat-error>
        <div *ngIf="newPasswordField.errors?.password">VALIDATION_INVALID_PASSWORD_FORMAT</div>
      </mat-error>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="changePassword()" [disabled]="loading || form.invalid">
    Change password
  </button>
</mat-dialog-actions>
