@import '~@angular/material/theming';
@import '../../../../theme/variables.scss';

@mixin ptcg-drop-highlight-theme($theme) {
  $primary: map-get($theme, primary);

  
  $cards-drop-highlight-shadow: inset 0 0 map-get($padding, normal) mat-color($primary, text);

  .ptcg-drop-highlight-visible {
    box-shadow: $cards-drop-highlight-shadow;
  }

}
