@import '~@angular/material/theming';

@mixin ptcg-prompt-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $ptcg-cards-container-background: mat-color($background, app-bar);

  ptcg-prompt {
    .ptcg-prompt-overlay {
      background: $cdk-overlay-dark-backdrop-background;
      transition: opacity $backdrop-animation-duration $backdrop-animation-timing-function;
    }

    .ptcg-prompt-container {
      @include _mat-theme-elevation(24, $theme);
      background-color: mat-color($background, dialog);
      color: mat-color($foreground, text);
    }
  }

  ptcg-cards-container .ptcg-cards-container,
  ptcg-choose-pokemons-pane .ptcg-choose-pokemons-pane {
    background-color: $ptcg-cards-container-background;
  }

}


@mixin ptcg-prompt-typography($config) {

  ptcg-prompt-move-damage {
    .ptcg-damage-value {
      @include mat-typography-level-to-styles($config, button);
      font-size: 1.5em;
    }
  }

}
