@import '~@angular/material/theming';

@mixin ptcg-prompt-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  ptcg-prompt {
    .ptcg-prompt-overlay {
      background: $cdk-overlay-dark-backdrop-background;
      transition: opacity $backdrop-animation-duration $backdrop-animation-timing-function;
    }

    .ptcg-prompt-content {
      @include _mat-theme-elevation(24, $theme);
      background: mat-color($background, dialog);
      color: mat-color($foreground, text);
    }
  }

}
