<div class="ptcg-prompt">

  <div class="ptcg-prompt-overlay" [ngClass]="{active: isPromptActive}">
  </div>

  <div class="ptcg-prompt-content-wrapper" [hidden]="!isPromptActive">
    <div class="ptcg-prompt-content"
      [@state]="animationState"
      (@state.done)="onAnimationEnd($event)">
      <div [ngSwitch]="prompt.type" *ngIf="prompt">
        <ptcg-prompt-confirm *ngSwitchCase="'Confirm'" [gameState]="gameState" [prompt]="prompt"></ptcg-prompt-confirm>
        <ptcg-prompt-alert *ngSwitchCase="'Alert'" [gameState]="gameState" [prompt]="prompt"></ptcg-prompt-alert>
        <div *ngSwitchDefault>
          Unknown prompt type: '{{prompt?.type}}'.
        </div>
      </div>
    </div>
  </div>

</div>
