<skyhook-preview [allBackends]="true">
    <ng-template let-type let-item="item">
        <ng-container [ngSwitch]="type">
            <div class="ptcg-card" *ngSwitchCase="'PROMPT_CARD'">
              <ptcg-card class="ptcg-card-preview"
                [class.cardback]="item.data.isSecret"
                [card]="item.data.card">
              </ptcg-card>
            </div>
        </ng-container>
    </ng-template>
</skyhook-preview>

<div class="ptcg-prompt">

  <div class="ptcg-prompt-overlay" [ngClass]="{active: isPromptActive}">
  </div>

  <div class="ptcg-prompt-content-wrapper" [hidden]="!isPromptActive">
    <div class="ptcg-prompt-content"
      [@state]="animationState"
      (@state.done)="onAnimationEnd($event)">
      <div [ngSwitch]="prompt.type" *ngIf="prompt">
        <ptcg-prompt-confirm *ngSwitchCase="'Confirm'" [gameState]="gameState" [prompt]="prompt"></ptcg-prompt-confirm>
        <ptcg-prompt-alert *ngSwitchCase="'Alert'" [gameState]="gameState" [prompt]="prompt"></ptcg-prompt-alert>
        <ptcg-prompt-choose-cards *ngSwitchCase="'Choose cards'" [gameState]="gameState" [prompt]="prompt"></ptcg-prompt-choose-cards>
        <ptcg-prompt-choose-energy *ngSwitchCase="'Choose energy'" [gameState]="gameState" [prompt]="prompt"></ptcg-prompt-choose-energy>
        <ptcg-prompt-choose-prize *ngSwitchCase="'Choose prize'" [gameState]="gameState" [prompt]="prompt"></ptcg-prompt-choose-prize>
        <ptcg-prompt-choose-pokemon *ngSwitchCase="'Choose pokemon'" [gameState]="gameState" [prompt]="prompt"></ptcg-prompt-choose-pokemon>
        <ptcg-prompt-game-over *ngSwitchCase="'Game over'" [gameState]="gameState" [prompt]="prompt"></ptcg-prompt-game-over>
        <ptcg-prompt-order-cards *ngSwitchCase="'Order cards'" [gameState]="gameState" [prompt]="prompt"></ptcg-prompt-order-cards>
        <ptcg-prompt-show-cards *ngSwitchCase="'Show cards'" [gameState]="gameState" [prompt]="prompt"></ptcg-prompt-show-cards>
        <div *ngSwitchDefault>
          Unknown prompt type: '{{prompt?.type}}'.
        </div>
      </div>
    </div>
  </div>

</div>
