@import '../../../theme/variables.scss';

$ptcg-prompt-padding: 24px !default;
$ptcg-prompt-border-radius: 4px !default;

.ptcg-prompt-overlay {
  bottom: 0;
  display: none;
  left: 0;
  margin-right: map-get($ptcg-size, sidebar);
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;

  &.active {
    display: block;
    opacity: .6;
  }
}

.ptcg-prompt-content-wrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  margin-right: map-get($ptcg-size, sidebar);
  position: absolute;
  right: 0;
  top: 0;
}

.ptcg-prompt-content {
  display: block;
  margin: map-get($padding, normal);
  padding: $ptcg-prompt-padding;
  border-radius: $ptcg-prompt-border-radius;
  box-sizing: border-box;
  overflow: hidden;
  outline: 0;
}

.ptcg-card-preview {
  position: absolute;
  width: map-get($ptcg-size, card);
}
