@import '../../../../theme/variables.scss';

:host.placeholder {
  img {
    display: none;
  }
  .ptcg-card:after {
    opacity: $ptcg-disabled-opacity;
  }
}

:host.cardback {
  img {
    display: none;
  }
  .ptcg-card:after {
    background-image: url("/assets/cardback.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.ptcg-card {
  width: 100%;
  position: relative;
  touch-action: none;
}

.ptcg-card:after {
  content: "";
  display: block;
  padding-bottom: $card-aspect-ratio * 100%;
}

.ptcg-card-scan {
  border-radius: $card-border-radius;
  height: 100%;
  position: absolute;
  width: 100%;
}

.ptcg-card-preview {
  position: absolute;
  width: map-get($ptcg-size, card);
}
