
.ptcg-card {
  min-width: 100px;
  position: relative;
}

.ptcg-card:after {
  content: "";
  display: block;
  padding-bottom: 137%;
}

.ptcg-card-scan {
  height: 100%;
  position: absolute;
  width: 100%;
}
