@import '../../../../theme/variables.scss';

.ptcg-card {
  min-width: map-get($ptcg-size, card);
  position: relative;
}

.ptcg-card:after {
  content: "";
  display: block;
  padding-bottom: $card-aspect-ratio * 100%;
}

.ptcg-card-scan {
  height: 100%;
  position: absolute;
  width: 100%;
}

.ptcg-card-preview {
  position: absolute;
  width: map-get($ptcg-size, card);
}
