@import '../../../../theme/variables.scss';

$card-width: calc(85vh / #{$card-aspect-ratio} - 2 * #{map-get($padding, normal)});

mat-dialog-content {
  max-height: none;
  overflow: hidden;
}

.ptcg-image-container {
  min-width: 100%;
  width: $card-width;
}
