@import '../../../../theme/variables.scss';

$ptcg-selection-container-padding: map-get($padding, small);
$ptcg-selection-container-border-radius: map-get($padding, small);

ptcg-board-card {
  margin: 0 map-get($padding, small);
  width: map-get($ptcg-size, card);

  &.unavailable {
    opacity: $ptcg-disabled-opacity;
  }
}

.ptcg-selection-container {
  border-radius: $ptcg-selection-container-border-radius;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: $ptcg-selection-container-padding;
}

.ptcg-pokemon-row {
  display: flex;
  justify-content: center;
  margin: map-get($padding, normal) 0;

  &.upside-down {
    transform: rotate(180deg);
  }
}
