<div class="ptcg-player-bar" [ngClass]="{active: active}">

  <ptcg-player-avatar class="ptcg-player-bar-avatar"
    (click)="allowAvatarClick && onAvatarClick()"
    [user]="userInfo$ | async"
    [allowClick]="allowAvatarClick"
    [avatarName]="avatarName">
  </ptcg-player-avatar>

  <div class="ptcg-player-info">
    <div *ngIf="!isEmpty; then playerInfo else emptyInfo"></div>

    <ng-template #playerInfo>
      <h4>{{ name }}</h4>
      <div class="ptcg-player-rank">
        <ptcg-rank *ngIf="userInfo$ | async as userInfo; else disconnected"
          [ranking]="userInfo.ranking"
          [rank]="userInfo.rank">
        </ptcg-rank>
        <ng-template #disconnected>
          <ptcg-badge>Disconnected</ptcg-badge>
        </ng-template>
      </div>
    </ng-template>

    <ng-template #emptyInfo>
      <div class="ptcg-empty-info mat-caption">No player</div>
    </ng-template>
  </div>

  <div class="ptcg-card-counts" *ngIf="!isEmpty">
    <ptcg-badge>Deck: {{ deckCount }}</ptcg-badge>
    <ptcg-badge>Hand: {{ handCount }}</ptcg-badge>
    <ptcg-badge>Discard: {{ discardCount }}</ptcg-badge>
  </div>

</div>
