<div class="ptcg-hand">

  <div class="ptcg-hand-container">

    <dnd-sortable-list
      [spec]="handSpec"
      hoverTrigger="fixed"
      [children]="tempList"
      [listId]="handListId">
      <ng-template dndSortableTemplate let-context>
        <ptcg-card
          [dndSortableRender]="context"
          #render="dndSortableRender"
          [dragSource]="render.source" [noHTML5Preview]="true"
          [card]="context.data.card"
          (click)="showCardInfo(context.data.card)"
          [class.draggable]="!gameState.deleted && player?.id === clientId"
          [ptcgCardPlaceholder]="render.isDragging$"
          [class.cardback]="isFaceDown">
        </ptcg-card>
      </ng-template>
    </dnd-sortable-list>

  </div>

</div>
