@import '../../../theme/variables.scss';

:host {
  overflow: auto;
}

.ptcg-hand {
  display: flex;
  height: $ptcg-hand-height;
  padding: $ptcg-hand-padding 0;
}

.ptcg-hand-container {
  display: flex;
  flex: 0 0 auto;
  margin: 0 auto;
}

.ptcg-hand-card {
  flex: 0 0 auto;
  width: map-get($ptcg-size, card);
}

.ptcg-hand-card:first-child {
  padding-left: $ptcg-hand-padding;
  width: map-get($ptcg-size, card) + $ptcg-hand-padding;
}

.ptcg-hand-card:last-child {
  padding-right: $ptcg-hand-padding;
  width: map-get($ptcg-size, card) + $ptcg-hand-padding;
}

ptcg-board-card {
  width: map-get($ptcg-size, card);
}
