@import '../../../theme/variables.scss';

:host {
  overflow: auto;
}

.ptcg-hand {
  display: flex;
  height: $ptcg-hand-height;
  padding: $ptcg-hand-padding 0;
}

.ptcg-hand-container {
  display: flex;
  flex: 0 0 auto;
  margin: 0 auto;
}

skyhook-sortable-list {
  display: flex;
}

ptcg-card {
  flex: 0 0 auto;
  width: map-get($ptcg-size, card);
}

ptcg-card:first-child {
  padding-left: $ptcg-hand-padding;
  width: map-get($ptcg-size, card) + $ptcg-hand-padding;
}

ptcg-card:last-child {
  padding-right: $ptcg-hand-padding;
  width: map-get($ptcg-size, card) + $ptcg-hand-padding;
}

.ptcg-card-preview {
  position: absolute;
  width: map-get($ptcg-size, card);
}
