<div class="ptcg-hand">

  <div class="ptcg-hand-container">

    <skyhook-sortable-list
      [ssSortableSpec]="handSpec"
      ssSortableTrigger="fixed"
      [ssSortableChildren]="tempList"
      [ssSortableListId]="handListId">
      <ng-template ssTemplate let-context>
        <ptcg-card
          [ssRender]="context"
          #render="ssRender"
          [dragSource]="render.source" [noHTML5Preview]="true"
          [card]="context.data.card"
          (click)="showCardInfo(context.data.card)"
          [class.draggable]="!gameState.deleted && player?.id === clientId"
          [class.placeholder]="render.isDragging$ | async"
          [class.cardback]="isFaceDown">
        </ptcg-card>
      </ng-template>
    </skyhook-sortable-list>

  </div>

</div>
