@import '~@angular/material/theming';

@import './_theme.scss';
@import "variables.scss";
@import "global.scss";
@import "utils.scss";

// NOTE: Theming is currently experimental and not yet publically released!

@include mat-core();

$ptcg-primary: mat-palette($mat-pink);
$ptcg-accent:  mat-palette($mat-yellow, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ptcg-warn:    mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$ptcg-theme: mat-dark-theme($ptcg-primary, $ptcg-accent, $ptcg-warn);

$ptcg-colors: (
  ability: #e3350d,
  poke-body: #4dad5b
);

$ptcg-theme: map-merge($ptcg-theme, (ptcg: $ptcg-colors));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ptcg-theme);


@include ptcg-theme($ptcg-theme);


// Create a config with the default typography levels.
$config: mat-typography-config(
  $body-2:        mat-typography-level(14px, 24px, 700)
);

@include ptcg-typography($config);
