* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

a {
    background-color: transparent;
    cursor: pointer;
}

a:active, a:hover {
    outline: 0 none;
    text-decoration: underline;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: 700;
}

img {
    border: 0 none;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}

input {
    line-height: normal;
}

legend {
    border: 0 none;
    padding: 0;
}

textarea {
    overflow: auto;
}

p {
  margin-bottom: map-get($padding, normal);
}

table {
  width: 100%;
}
