$ptcg-size: (
  nav-menu: 200px,
  sidebar: 200px,
  card: 100px,
  avatar: 50px,
  board-card: 50px
);

$padding: (
  small: 8px,
  normal: 16px,
  large: 32px
);

$card-aspect-ratio: 1.37;

// Variables from angular material theme
$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile: 56px !default;

$ptcg-bench-slots: 8;
$ptcg-disabled-opacity: .5;

$ptcg-hand-padding: map-get($padding, normal);
$ptcg-hand-height: ceil(map-get($ptcg-size, card) * $card-aspect-ratio + 2 * $ptcg-hand-padding);

$ptcg-sidebar-tiny-padding: map-get($padding, small) / 2;
$ptcg-board-tiny-padding: map-get($padding, small) / 4;
