<skyhook-preview [allBackends]="true">
    <ng-template let-type let-item="item">
        <ng-container [ngSwitch]="type">
            <div class="ptcg-card" *ngSwitchCase="'DECK_CARD'">
              <img class="ptcg-card-preview" [src]="item.data.scanUrl">
            </div>
        </ng-container>
    </ng-template>
</skyhook-preview>

<cdk-virtual-scroll-viewport class="ptcg-deck-edit-pane"
  [dropTarget]="libraryTarget"
  ptcgDropHighlight [ptcgDropHighlightVisible]="libraryHighlight$ | async">
  <ptcg-deck-card
    *cdkVirtualFor="let card of (cards | filterCards: toolbarFilter)"
    [ssExternal]="card.spec" #ext="ssExternal" [source]="ext.source"
    (cardClick)="showCardInfo(card)"
    [card]="card">
  </ptcg-deck-card>
</cdk-virtual-scroll-viewport>

<div class="ptcg-deck-edit-pane secondary"
  [dropTarget]="deckTarget"
  ptcgDropHighlight [ptcgDropHighlightVisible]="deckHighlight$ | async">

  <skyhook-sortable-list
    ssSortableListId="CARD_LIBRARY_LIST"
    ssSortableTrigger="fixed"
    [ssSortableChildren]="tempList"
    [ssSortableSpec]="deckSpec">
    <ng-template ssTemplate let-context>
      <!-- ssRender configures a DragSource for you, but you have to attach it. -->
      <ptcg-deck-card
        [ssRender]="context"
        #render="ssRender"
        [class.placeholder]="render.isDragging$ | async"
        [source]="render.source"
        showCardCount="true"
        (cardClick)="showCardInfo(render.data)"
        (countClick)="setCardCount(render.data)"
        [card]="render.data">
      </ptcg-deck-card>
    </ng-template>
  </skyhook-sortable-list>

</div>
