<dnd-preview [allBackends]="true">
    <ng-template let-type let-item="item">
        <ng-container [ngSwitch]="type">
            <div class="ptcg-card" *ngSwitchCase="'DECK_CARD'">
              <img class="ptcg-card-preview" [ptcgImageCache]="item.data.scanUrl">
            </div>
        </ng-container>
    </ng-template>
</dnd-preview>

<cdk-virtual-scroll-viewport class="ptcg-deck-edit-pane"
  [dropTarget]="libraryTarget"
  ptcgDropHighlight [ptcgDropHighlightVisible]="libraryHighlight$ | async">
  <ptcg-deck-card
    *cdkVirtualFor="let card of (cards | filterCards: toolbarFilter)"
    [dndSortableExternal]="card.spec" #ext="dndSortableExternal" [source]="ext.source"
    (cardClick)="showCardInfo(card)"
    [card]="card">
  </ptcg-deck-card>
</cdk-virtual-scroll-viewport>

<div class="ptcg-deck-edit-pane secondary"
  [dropTarget]="deckTarget"
  ptcgDropHighlight [ptcgDropHighlightVisible]="deckHighlight$ | async">

  <dnd-sortable-list
    listId="CARD_LIBRARY_LIST"
    hoverTrigger="fixed"
    [children]="tempList"
    [spec]="deckSpec">
    <ng-template dndSortableTemplate let-context>
      <!-- dndSortableRender configures a DragSource for you, but you have to attach it. -->
      <ptcg-deck-card
        [dndSortableRender]="context"
        #render="dndSortableRender"
        [ptcgCardPlaceholder]="render.isDragging$"
        [source]="render.source"
        showCardCount="true"
        (cardClick)="showCardInfo(render.data)"
        (countClick)="setCardCount(render.data)"
        [card]="render.data">
      </ptcg-deck-card>
    </ng-template>
  </dnd-sortable-list>

</div>
