<mat-toolbar class="ptcg-deck-edit-toolbar">
  <mat-toolbar-row>
    <h1 *ngIf="deck">Editing deck: {{deck.name}}</h1>

    <span class="spacer"></span>

    <button mat-raised-button [routerLink]="['/deck']">
      <mat-icon>arrow_back</mat-icon>
      <span>Back</span>
    </button>

    <button mat-raised-button color="primary" [disabled]="disabled" (click)="onSave()">
      <span>Save</span>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row class="search-toolbar">
    <mat-form-field floatLabel="never" appearance="legacy">
      <mat-select multiple placeholder="All cards" (selectionChange)="onSuperTypeChange($event)">
        <mat-option *ngFor="let superType of superTypes" [value]="superType.value">
          {{ superType.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field floatLabel="never" appearance="legacy">
      <mat-select multiple placeholder="All types" (selectionChange)="onCardTypeChange($event)">
        <mat-option *ngFor="let cardType of cardTypes" [value]="cardType.value">
          {{ cardType.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <span class="spacer"></span>

    <ptcg-search-box (search)="onSearch($event)"></ptcg-search-box>
  </mat-toolbar-row>
</mat-toolbar>
