@import '../../../theme/variables.scss';

.table-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ptcg-table-sidebar-header {
  display: flex;
  padding: map-get($padding, small);

  & > h3 {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & > ptcg-badge {
    align-self: center;
    display: flex;
    flex: 0 0 auto;
  }
}

.ptcg-table-sidebar-header,
ptcg-player-bar,
ptcg-player-actions {
  flex: 0 0 auto;
}

ptcg-game-logs {
  flex: 1 1 auto;
}
