<div class="ptcg-message-entry" [class.myself]="writtenByMe" *ngIf="user$ | async ; let user">

  <mat-card class="ptcg-message-text">

    <mat-card-content>
      {{ message.text }}
    </mat-card-content>

    <mat-card-footer>
      <div class="ptcg-message-footer">
        <div class="ptcg-message-from">
          Message from {{ user.name }},
          {{ message.created | date }}
        </div>
        <div class="ptcg-message-seen" *ngIf="message.isRead">
          <mat-icon>done</mat-icon>
        </div>
      </div>
    </mat-card-footer>

  </mat-card>

  <ptcg-avatar class="ptcg-message-avatar" [avatarFile]="user.avatarFile">
  </ptcg-avatar>

</div>
