<div class="ptcg-search-box">
  <button mat-raised-button color="primary"
    [hidden]="isActivated"
    (click)="activateSearch()">
    <mat-icon>search</mat-icon>
    Search
  </button>

  <form class="search-form" autocomplete="off" [hidden]="!isActivated">
    <mat-form-field floatLabel="never" appearance="legacy">
      <input
        #searchInput="matInput"
        name="searchValue"
        (blur)="onBlur()"
        (input)="onChange()"
        [(ngModel)]="searchValue"
        type="text" matInput placeholder="Search">
    </mat-form-field>
    <button mat-button
      matTooltip="Clear filter"
      matTooltipShowDelay="1000"
      (click)="clearSearch()">
      <mat-icon matSuffix >close</mat-icon>
    </button>
  </form>
</div>
