<div class="table-sidebar">

  <div class="ptcg-table-sidebar-header">
    <h3>Table {{ gameId }}</h3>
    <span class="ptcg-u-spacer"></span>
    <ptcg-badge>Turn {{ turn }}</ptcg-badge>
  </div>

  <ptcg-player-bar
    (avatarClick)="onAvatarClick(topPlayer)"
    [player]="topPlayer"
    [replayPlayer]="topReplayPlayer"
    [active]="isTopPlayerActive">
  </ptcg-player-bar>

  <ptcg-player-bar
    (avatarClick)="onAvatarClick(bottomPlayer)"
    [player]="bottomPlayer"
    [replayPlayer]="bottomReplayPlayer"
    [active]="isBottomPlayerActive">
  </ptcg-player-bar>

  <ptcg-player-actions
    [gameState]="gameState"
    [clientId]="clientId"
    (join)="join.next()"
  ></ptcg-player-actions>

  <ptcg-replay-controls *ngIf="gameState?.replay"
    [gameState]="gameState">
  </ptcg-replay-controls>

  <ptcg-game-logs [gameState]="gameState"></ptcg-game-logs>

</div>
