<ptcg-deck-edit-toolbar
  [disabled]="loading"
  [deck]="deck"
  (filterChange)="toolbarFilter = $event"
  (save)="saveDeck()"
></ptcg-deck-edit-toolbar>

<div class="editor-layout">

  <ptcg-deck-edit-pane 
    [type]="DeckEditPane.LIBRARY"
    (cardDrop)="removeCardFromDeck($event)">
    <ptcg-deck-card
      *ngFor="let card of cards | filterCards: toolbarFilter"
      (click)="addCardToDeck(card)"
      [card]="card">
    </ptcg-deck-card>
  </ptcg-deck-edit-pane>

  <ptcg-deck-edit-pane
    [type]="DeckEditPane.DECK"
    (cardDrop)="addCardToDeck($event)">
    <ptcg-deck-card
      *ngFor="let card of deckCards"
      (click)="removeCardFromDeck(card)"
      [card]="card">
    </ptcg-deck-card>
  </ptcg-deck-edit-pane>

</div>

<ptcg-deck-edit-info [cards]="deckCards">
</ptcg-deck-edit-info>
