<ptcg-deck-edit-toolbar
  [disabled]="loading"
  [deckName]="deckName"
  (filterChange)="toolbarFilter = $event"
></ptcg-deck-edit-toolbar>

<div class="editor-layout">

  <ptcg-deck-edit-pane [type]="DeckEditPane.LIBRARY">
    <!-- matBadge="16" matBadgePosition="above before" matBadgeSize="large" -->
    <ptcg-deck-card
      *ngFor="let card of cards | filterCards: toolbarFilter"
      (click)="addCardToDeck(card)"
      [card]="card">
    </ptcg-deck-card>
  </ptcg-deck-edit-pane>

  <ptcg-deck-edit-pane [type]="DeckEditPane.DECK">
    <ptcg-deck-card
      *ngFor="let card of deckCards"
      (click)="removeCardFromDeck(card)"
      [card]="card">
    </ptcg-deck-card>
  </ptcg-deck-edit-pane>

</div>

<ptcg-deck-edit-info [cards]="deckCards">
</ptcg-deck-edit-info>
