<h2 class="mat-dialog-title">Move energy</h2>

<mat-dialog-content>
  <p>{{ message }}</p>

  <ptcg-choose-pokemons-pane
    [pokemonData]="pokemonData"
    (cardClick)="onCardClick($event)">
  </ptcg-choose-pokemons-pane>

  <ptcg-choose-cards-panes
    [cards]="cardList ? cardList.cards : []"
    [filter]="filter"
    (change)="onChange($event)">
  </ptcg-choose-cards-panes>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button *ngIf="allowedCancel" (click)="cancel()">Cancel</button>
  <button mat-raised-button [disabled]="isInvalid" color="primary" (click)="confirm()">
    OK
  </button>
</mat-dialog-actions>
