<h2 class="mat-dialog-title">Move energy</h2>

<mat-dialog-content>
  <p>{{ message }}</p>

  <ptcg-choose-pokemons-pane
    [pokemonData]="pokemonData"
    (cardClick)="onCardClick($event)"
    (cardDrop)="onCardDrop($event)">
  </ptcg-choose-pokemons-pane>

  <ptcg-choose-cards-panes
    [cards]="selectedItem ? selectedItem.cardList.cards : []"
    [filter]="filter"
    [singlePaneMode]="true">
  </ptcg-choose-cards-panes>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button *ngIf="allowedCancel" [disabled]="gameState.deleted"
    (click)="cancel()">
    Cancel
  </button>
  <button mat-raised-button color="primary" [disabled]="gameState.deleted || isInvalid"
    (click)="confirm()">
    OK
  </button>
</mat-dialog-actions>
