<div class="ptcg-choose-pokemons-pane">
  <div class="ptcg-pokemon-row" *ngFor="let row of rows"
    [ngClass]="{'upside-down': row.pokemonRow.playerType === PlayerType.TOP_PLAYER}">
    <ptcg-board-card *ngFor="let item of row.items"
      [dropTarget]="item.target"
      ptcgDropHighlight="outside"
      [ptcgDropHighlightVisible]="item.pokemonItem.selected || (item.highlight$ | async)"
      [cardList]="item.pokemonItem.cardList"
      (cardClick)="onCardClick(item.pokemonItem)">
    </ptcg-board-card>
  </div>
</div>
