@import '~@angular/material/theming';


@mixin ptcg-table-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  $table-border: solid 1px mat-color($foreground, divider);
  $hand-background-color: mat-color($background, app-bar);
  $avatar-background-color: mat-color($background, app-bar);
  $table-sidebar-header-background-color: mat-color($background, background);

  ptcg-hand {
    background-color: $hand-background-color;
    border-top: $table-border;
    color: mat-color($foreground, text);
  }

  ptcg-board-card,
  ptcg-board-card-list {
    .empty {
      outline: $table-border;
    }
  }

  ptcg-table-sidebar {
    .ptcg-table-sidebar-header {
      background-color: $table-sidebar-header-background-color;
    }
  }
  
  ptcg-player-bar {
    .ptcg-player-avatar {
      background-color: $avatar-background-color;
    }
  }

}

@mixin ptcg-table-typography($config) {

  ptcg-board-card {
    .ptcg-board-card-label {
      @include mat-typography-level-to-styles($config, caption);
    }
  }

  ptcg-board-card-list {
    .ptcg-card-damage {
      @include mat-typography-level-to-styles($config, headline);
    }
  }
}
