<ptcg-sidebar-container>

  <!-- Table sidebar -->
  <ptcg-sidebar>
    <ptcg-table-sidebar
      [gameState]="gameState"
      [topPlayer]="topPlayer"
      [bottomPlayer]="bottomPlayer"
      (join)="play()"
    ></ptcg-table-sidebar>
  </ptcg-sidebar>

  <!-- Table board -->
  <ptcg-board
    [gameState]="gameState"
    [topPlayer]="topPlayer"
    [bottomPlayer]="bottomPlayer"
  ></ptcg-board>

  <!-- Player's hand -->
  <ptcg-hand
    [clientId]="clientId"
    [player]="bottomPlayer"
  ></ptcg-hand>

</ptcg-sidebar-container>
