@use '~@angular/material' as mat;


@mixin ptcg-messages-theme($theme) {
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);

  $input-message-background-color: mat.get-color-from-palette($background, app-bar);
  $active-contact-background-color: mat.get-color-from-palette($background, focused-button);

  ptcg-contact-bar {
    .ptcg-contact-bar.active {
      background-color: $active-contact-background-color;
      &:after {
        background-color: mat.get-color-from-palette($primary);
      }
    }

    .ptcg-contact-bar.marked .ptcg-contact-name {
      color: mat.get-color-from-palette($primary);
    }
  }

  ptcg-conversation {
    .ptcg-conversation-footer {
      background-color: $input-message-background-color;
    }
  }

  ptcg-message-entry {
    .myself mat-card {
      background-color: mat.get-color-from-palette($background, tooltip);
    }
  }

}

@mixin ptcg-messages-typography($config) {
  ptcg-contact-bar {
    @include mat.typography-level($config, caption);

    .ptcg-contact-name {
      @include mat.typography-level($config, body-2);
    }
  }

  ptcg-message-entry {
    .ptcg-message-footer {
      @include mat.typography-level($config, caption);
    }
  }
}
