@import '../../../theme/variables.scss';

:host {
  display: inline-flex;
}

$ptcg-deck-card-width: map-get($ptcg-size, card) + map-get($padding, large);

.ptcg-deck-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: map-get($padding, small);
  width: $ptcg-deck-card-width;
}

ptcg-card {
  display: block;
  touch-action: none;
  width: map-get($ptcg-size, card);
}

.ptcg-deck-card-label {
  display: block;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.ptcg-deck-card-count {
  display: flex;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
