@import '../../../theme/variables.scss';

:host {
  display: inline-flex;
}

.ptcg-deck-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: map-get($padding, normal);
  width: $card-width + map-get($padding, large);
}

.ptcg-deck-card-label {
  display: block;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
