<h2 mat-dialog-title>Create game</h2>

<mat-dialog-content>

  <form #form="ngForm" autocomplete="off">

    <!-- Deck -->
    <mat-form-field>
      <mat-label>Your deck</mat-label>
      <mat-select [(value)]="deckId">
        <mat-option *ngFor="let option of decks" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Time limit -->
    <mat-form-field>
      <mat-label>Time limit</mat-label>
      <mat-select [(value)]="settings.timeLimit">
        <mat-option *ngFor="let option of timeLimits" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4>Ranking</h4>

    <section class="ptcg-game-rule-checkbox">
      <mat-checkbox color="primary" name="rule1"
        [(ngModel)]="settings.rankingPlay">
        Update ranking
      </mat-checkbox>
    </section>

    <h4>Game rules</h4>

    <section class="ptcg-game-rule-checkbox">
      <mat-checkbox color="primary" name="rule1"
        [(ngModel)]="settings.rules.firstTurnDrawCard">
        First player draws a card
      </mat-checkbox>
    </section>
    <section class="ptcg-game-rule-checkbox">
      <mat-checkbox color="primary" name="rule2"
        [(ngModel)]="settings.rules.firstTurnUseSupporter">
        Allow to play supporters in the first turn
      </mat-checkbox>
    </section>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="confirm()" [disabled]="form.invalid">
    OK
  </button>
</mat-dialog-actions>
