<div class="ptcg-board-container" [dropTarget]="boardTarget">

  <div class="ptcg-board-player upside-down">
    <ptcg-board-bench [player]="topPlayer" [clientId]="clientId"></ptcg-board-bench>

    <ptcg-board-active [player]="topPlayer" [clientId]="clientId"></ptcg-board-active>

    <ptcg-board-deck [player]="topPlayer" [clientId]="clientId"></ptcg-board-deck>

    <ptcg-board-prizes [player]="topPlayer" [clientId]="clientId"></ptcg-board-prizes>
  </div>

  <div class="ptcg-board-player">
    <ptcg-board-bench [player]="bottomPlayer" [clientId]="clientId"></ptcg-board-bench>

    <ptcg-board-active [player]="bottomPlayer" [clientId]="clientId"></ptcg-board-active>

    <ptcg-board-deck [player]="bottomPlayer" [clientId]="clientId"></ptcg-board-deck>

    <ptcg-board-prizes [player]="bottomPlayer" [clientId]="clientId"></ptcg-board-prizes>
  </div>

</div>
