<h2 mat-dialog-title>Add avatar</h2>

<mat-dialog-content>

  <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate" class="ptcg-u-top">
  </mat-progress-bar>

  <p class="ptcg-avatar-preview">
    <ptcg-avatar class="mat-elevation-z2" type="profile" [avatarFile]="imageBase64"></ptcg-avatar>
  </p>

  <form #form="ngForm" autocomplete="off">

    <!-- Avatar image -->
    <mat-form-field>
      <mat-label>Avatar image</mat-label>
      <ptcg-file-input #avatarFileInput required
        ptcgErrorValidator [ptcgErrorValue]="avatarError"
        ptcgFileSizeValidator [maxFileSize]="maxFileSize"
        name="avatar" accept="jpg|jpeg|png"
        [disabled]="loading"
        [(ngModel)]="imageFile" #avatarField="ngModel"
        (ngModelChange)="updatePreview($event)">
      </ptcg-file-input>
      <button mat-icon-button matSuffix
        *ngIf="!avatarFileInput.empty"
        [disabled]="loading"
        (click)="avatarFileInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-error>
        <div *ngIf="avatarField.errors?.ptcgError">INVALID_IMAGE</div>
        <div *ngIf="avatarField.errors?.maxFileSize">MAX_FILE_SIZE</div>
        <div *ngIf="avatarField.errors?.required">IMAGE_IS_REQUIRED</div>
      </mat-error>
    </mat-form-field>

    <!-- Avatar name -->
    <mat-form-field>
      <mat-label>Avatar name</mat-label>
      <input matInput placeholder="Avatar name" name="name"
        [(ngModel)]="name" [disabled]="loading" #nameField="ngModel"
        ptcgNameValidator [ptcgInvalidValue]="invalidName" required>
      <mat-error>
        <div *ngIf="nameField.errors?.name">VALIDATION_INVALID_NAME</div>
        <div *ngIf="nameField.errors?.invalidValue">REGISTER_NAME_TAKEN</div>
      </mat-error>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="uploadImage()" [disabled]="form.invalid">
    Upload
  </button>
</mat-dialog-actions>
