@use '~@angular/material' as mat;


@mixin ptcg-sidebar-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $sidebar-side-border: solid 1px mat.get-color-from-palette($foreground, divider);
  $sidebar-background-color: mat.get-color-from-palette($background, dialog);

  ptcg-sidebar {
    background-color: $sidebar-background-color;
    border-left: $sidebar-side-border;
    color: mat.get-color-from-palette($foreground, text);
  }
}

@mixin ptcg-sidebar-typography($config) { }
