<h2 class="ptcg-prompt-title">Invite player</h2>

<div class="ptcg-prompt-content">
  <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate" class="ptcg-u-top">
  </mat-progress-bar>

  <p>{{ prompt.message }}</p>

  <form #form="ngForm" autocomplete="off" *ngIf="!loading && decks.length > 0">
    <mat-form-field>
      <mat-select [(value)]="deckId">
        <mat-option *ngFor="let deck of decks" [value]="deck.value">
          {{ deck.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="ptcg-no-decks" *ngIf="!loading && decks.length === 0">
    <p>You must prepare a valid deck before accepting the invitation.</p>
    <button mat-raised-button color="primary" routerLink="/deck">
      Go to decks
    </button>
  </div>

</div>

<div class="ptcg-prompt-actions">
  <button mat-raised-button [disabled]="gameState.deleted" (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="gameState.deleted || !deckId"
    (click)="confirm()">
    OK
  </button>
</div>
