<mat-nav-list>
  <a routerLink="/games" mat-list-item>
    {{ 'MAIN_GAMES' | translate }}
  </a>
  <a routerLink="/deck" mat-list-item>
    {{ 'MAIN_DECKS' | translate }}
  </a>
  <a routerLink="/ranking" mat-list-item>
    {{ 'MAIN_RANKING' | translate }}
  </a>
  <a routerLink="/replays" mat-list-item>
    {{ 'MAIN_REPLAYS' | translate }}
  </a>
  <a routerLink="/message" mat-list-item>
    <span
      [matBadge]="unreadMessages$ | async"
      matBadgeOverlap="false"
      [matBadgeHidden]="(unreadMessages$ | async) === 0">
      {{ 'MAIN_MESSAGES' | translate }}
    </span>
  </a>
</mat-nav-list>

<mat-nav-list>

  <mat-divider></mat-divider>

  <div class="ptcg-sidenav-header">
    <h4 translate>MAIN_TABLES</h4>
  </div>

  <ptcg-sidenav-item
    *ngFor="let gameState of (gameStates$ | async)"
    [gameState]="gameState">
  </ptcg-sidenav-item>

</mat-nav-list>
