<mat-nav-list>
  <a routerLink="/games" mat-list-item translate>
    {{ 'SIDENAV_GAMES' | translate }}
  </a>
  <a routerLink="/deck" mat-list-item>Deck</a>
  <a routerLink="/ranking" mat-list-item>Ranking</a>
  <a routerLink="/replays" mat-list-item>Replays</a>
  <a routerLink="/message" mat-list-item>
    <span
      [matBadge]="unreadMessages$ | async"
      matBadgeOverlap="false"
      [matBadgeHidden]="(unreadMessages$ | async) === 0">
      Messages
    </span>
  </a>
</mat-nav-list>

<mat-nav-list>

  <mat-divider></mat-divider>

  <div class="ptcg-sidenav-header">
    <h4>Tables</h4>
  </div>

  <ptcg-sidenav-item
    *ngFor="let gameState of (gameStates$ | async)"
    [gameState]="gameState">
  </ptcg-sidenav-item>

</mat-nav-list>
