<mat-nav-list>
  <a routerLink="/games" mat-list-item>Games</a>
  <a routerLink="/deck" mat-list-item>Deck</a>
  <a mat-list-item>Ranking</a>
  <a mat-list-item>Profile</a>
  <a mat-list-item>
    <span matBadge="1" matBadgeOverlap="false">Messages</span>
  </a>
</mat-nav-list>

<mat-nav-list>

  <mat-divider></mat-divider>

  <div class="ptcg-sidenav-header">
    <h4>Tables</h4>
  </div>

  <ptcg-sidenav-item
    *ngFor="let gameState of (gameStates$ | async)"
    [gameState]="gameState">
  </ptcg-sidenav-item>

</mat-nav-list>
