<ptcg-content>
  <h1 class="mat-h1">
    Decks
  </h1>

  <p>
    <button mat-raised-button (click)="createDeck()">Create deck</button>
  </p>

  <table mat-table [dataSource]="decks" class="mat-elevation-z8">
    <!-- Deck name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let deck">{{deck.name}}</td>
    </ng-container>

    <!-- Card types -->
    <ng-container matColumnDef="cardTypes">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let deck">
        <ptcg-energy *ngFor="let type of deck.cardTypes" [type]="type"></ptcg-energy>
      </td>
    </ng-container>

    <!-- Is valid -->
    <ng-container matColumnDef="isValid">
      <th mat-header-cell *matHeaderCellDef>Valid</th>
      <td mat-cell *matCellDef="let deck">{{deck.isValid}}</td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let deck">
        <button mat-button [matMenuTriggerFor]="menu">Actions</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/deck', deck.id]">Edit</button>
          <button mat-menu-item (click)="deleteDeck(deck.id)">Delete</button>
          <button mat-menu-item (click)="renameDeck(deck.id)">Rename</button>
          <button mat-menu-item (click)="duplicateDeck(deck.id)">Duplicate</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</ptcg-content>
