<h2 mat-dialog-title>Edit avatars</h2>

<mat-dialog-content>

  <ptcg-content [loading]="loading">
    <table mat-table [dataSource]="avatars">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="default">
        <th mat-header-cell *matHeaderCellDef>Default</th>
        <td mat-cell *matCellDef="let avatar">
          <mat-radio-button (click)="$event.stopPropagation()"
            color="primary"
            (change)="defaultAvatar = avatar"
            [checked]="defaultAvatar === avatar">
          </mat-radio-button>
        </td>
      </ng-container>
 
      <!-- Image -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let avatar">
          <ptcg-avatar [avatarFile]="avatar.fileName"></ptcg-avatar>
        </td>
      </ng-container>

      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let avatar">
          {{ avatar.name }}
        </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let avatar">
          <button mat-button [matMenuTriggerFor]="menu">Actions</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteAvatar(avatar.id)">Delete</button>
            <button mat-menu-item (click)="renameDeck(avatar.id)">Rename</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="ptcg-u-padding" *ngIf="avatars.length === 0">
      No avatars defined.
    </div>

  </ptcg-content>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="addAvatar()">
    Add avatar
  </button>
  <span class="ptcg-u-spacer"></span>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
