<h2 mat-dialog-title translate>PROFILE_EDIT_AVATARS</h2>

<mat-dialog-content>

  <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate" class="ptcg-u-top">
  </mat-progress-bar>

  <table mat-table [dataSource]="avatars">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="default">
      <th mat-header-cell *matHeaderCellDef translate>LABEL_DEFAULT</th>
      <td mat-cell *matCellDef="let avatar">
        <mat-radio-button (click)="$event.stopPropagation()"
          color="primary"
          (change)="markAsDefault(avatar)"
          [checked]="(defaultAvatar$ | async) === avatar.fileName"
          [disabled]="loading">
        </mat-radio-button>
      </td>
    </ng-container>

    <!-- Image -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef translate>LABEL_IMAGE</th>
      <td mat-cell *matCellDef="let avatar">
      <ptcg-avatar openAvatarPopup="true"
        [avatarFile]="avatar.fileName">
      </ptcg-avatar>
      </td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef translate>LABEL_NAME</th>
      <td mat-cell *matCellDef="let avatar">
        {{ avatar.name }}
      </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef translate>LABEL_ACTIONS</th>
      <td mat-cell *matCellDef="let avatar">
        <button mat-button [matMenuTriggerFor]="menu" [disabled]="loading">
          {{ 'BUTTON_ACTIONS' | translate }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteAvatar(avatar.id)">
            {{ 'BUTTON_DELETE' | translate }}
          </button>
          <button mat-menu-item (click)="renameAvatar(avatar.id, avatar.name)">
            {{ 'BUTTON_RENAME' | translate }}
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="ptcg-u-padding" *ngIf="avatars.length === 0" translate>
    PROFILE_NO_AVATARS
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary"
    [disabled]="loading"
    (click)="addAvatar()">
    {{ 'PROFILE_ADD_AVATAR' | translate }}
  </button>
  <span class="ptcg-u-spacer"></span>
  <button mat-raised-button mat-dialog-close>
    {{ 'BUTTON_CLOSE' | translate }}
  </button>
</mat-dialog-actions>
