<h2 class="mat-dialog-title">Attach energy</h2>

<mat-dialog-content>
  <p>{{ message }}</p>

  <ptcg-choose-pokemons-pane
    [pokemonData]="pokemonData"
    (cardDrop)="onCardDrop($event)">
  </ptcg-choose-pokemons-pane>

  <ptcg-choose-cards-panes
    [cards]="cardList.cards"
    [filter]="filter"
    [singlePaneMode]="true">
  </ptcg-choose-cards-panes>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="reset()" [disabled]="results.length === 0">Reset</button>
  <div class="ptcg-u-spacer"></div>
  <button mat-raised-button *ngIf="allowedCancel" (click)="cancel()">Cancel</button>
  <button mat-raised-button [disabled]="isInvalid" color="primary" (click)="confirm()">
    OK
  </button>
</mat-dialog-actions>
