<h2 class="ptcg-prompt-title">Game over</h2>

<div class="ptcg-prompt-content">
  <div [ngSwitch]="prompt.winner">
    <p *ngSwitchCase="GameWinner.DRAW">It's draw.</p>
    <p *ngSwitchCase="GameWinner.PLAYER_1">Winner {{ gameState.state.players[0].name }}.</p>
    <p *ngSwitchCase="GameWinner.PLAYER_2">Winner {{ gameState.state.players[1].name }}.</p>
    <p *ngSwitchDefault>Game is finished.</p>
  </div>
</div>

<div class="ptcg-prompt-actions">
  <button mat-raised-button color="primary" (click)="confirm()">
    OK
  </button>
</div>
