<h2 class="ptcg-prompt-title">Select</h2>

<div class="ptcg-prompt-content">
  <p>{{ message }}</p>

  <form #form="ngForm" autocomplete="off">

    <!-- Select -->
    <mat-form-field>
      <mat-select [(value)]="result">
        <mat-option *ngFor="let option of options; index as i" [value]="i">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>

<div class="ptcg-prompt-actions">
  <button mat-raised-button *ngIf="allowCancel" [disabled]="gameState.deleted"
    (click)="cancel()">
    Cancel
  </button>
  <button mat-raised-button color="primary" [disabled]="gameState.deleted"
    (click)="confirm()">
    OK
  </button>
</div>
