@import '~@angular/material/theming';
@import '../../../theme/variables.scss';

@mixin ptcg-cards-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $ptcg-card-placeholder-background: mat-color($background, dialog);
  $ptcg-card-placeholder-border-color: mat-color($foreground, divider);
  $cards-drop-highlight-shadow: 0 0 map-get($padding, normal) mat-color($primary, text);

  $ptcg-card-info-title-background: mat-color($background, app-bar);
  $ptcg-card-info-subtitle-background: mat-color($background, focused-button);

  .ptcg-drop-highlight-visible {
    box-shadow: inset $cards-drop-highlight-shadow;
  }

  .ptcg-drop-highlight-visible.ptcg-drop-highlight-outside {
    box-shadow: $cards-drop-highlight-shadow;
  }

  ptcg-card {
    &.placeholder .ptcg-card:after {
      background-color: $ptcg-card-placeholder-background;
      box-shadow: inset 0 0 0 1px $ptcg-card-placeholder-border-color;
    }
  }

  ptcg-card-info-popup {
    .title {
      background-color: $ptcg-card-info-title-background;
    }
    .subtitle, .stats {
      background-color: $ptcg-card-info-subtitle-background;
    }
    .ability-type {
      color: mat-color($primary);
    }
  }

}

@mixin ptcg-cards-typography($config) {
  ptcg-card-info-popup {
    .title, .subtitle-hp-value {
      @include mat-typography-level-to-styles($config, title);
    }

    .subtitle-stage, .stats-item-header, .attack-name, .ability-name {
      @include mat-typography-level-to-styles($config, body-2);
    }

    .subtitle-hp-unit, .stats-item-value-modifier, .subtitle-evolves-from {
      @include mat-typography-level-to-styles($config, caption);
    }

  }

/*
  ptcg-board-card {
    .ptcg-board-card-label {
      @include mat-typography-level-to-styles($config, caption);
    }
  }

  ptcg-board-card-list {
    .ptcg-card-damage {
      @include mat-typography-level-to-styles($config, headline);
    }
  }

  ptcg-game-logs {
    .ptcg-game-logs-header mat-icon {
      font-size: mat-font-size($config, input);
    }
    .ptcg-game-logs-content {
      @include mat-typography-level-to-styles($config, caption);
    }
  }*/
}
