@use '~@angular/material' as mat;
@import '../../../theme/variables.scss';

@mixin ptcg-cards-theme($theme) {
  $primary: map-get($theme, primary);
  $ptcg: map-get($theme, ptcg);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $ptcg-card-placeholder-background: mat.get-color-from-palette($background, dialog);
  $ptcg-card-placeholder-border-color: mat.get-color-from-palette($foreground, divider);
  $cards-drop-highlight-shadow: 0 0 map-get($padding, normal) mat.get-color-from-palette($primary, text);

  $ptcg-card-info-title-background: mat.get-color-from-palette($background, app-bar);
  $ptcg-card-info-subtitle-background: mat.get-color-from-palette($background, focused-button);
  $ptcg-card-list-pane-background: mat.get-color-from-palette($background, app-bar);

  .ptcg-drop-highlight-visible {
    box-shadow: inset $cards-drop-highlight-shadow;
  }

  .ptcg-drop-highlight-visible.ptcg-drop-highlight-outside {
    box-shadow: $cards-drop-highlight-shadow;
  }

  ptcg-card {
    &.placeholder .ptcg-card:after {
      background-color: $ptcg-card-placeholder-background;
      box-shadow: inset 0 0 0 1px $ptcg-card-placeholder-border-color;
    }
  }

  ptcg-card-info-pane {
    .title {
      background-color: $ptcg-card-info-title-background;
    }
    .subtitle, .stats {
      background-color: $ptcg-card-info-subtitle-background;
    }
    .power-type .ability {
      color: mat.get-color-from-palette($ptcg, ability);
    }
    .power-type .poke-body {
      color: mat.get-color-from-palette($ptcg, poke-body);
    }
  }

  ptcg-card-list-pane {
    .ptcg-card-list-pane {
      background-color: $ptcg-card-list-pane-background;
    }
  }

}

@mixin ptcg-cards-typography($config) {
  ptcg-card-info-pane {
    .title, .subtitle-hp-value {
      @include mat.typography-level($config, title);
    }

    .subtitle-stage, .stats-item-header, .attack-name, .power-name {
      @include mat.typography-level($config, body-2);
    }

    .subtitle-hp-unit, .stats-item-value-modifier, .subtitle-evolves-from {
      @include mat.typography-level($config, caption);
    }

  }
}
