<div class="ptcg-player-actions">
  <div *ngIf="gameState?.replay ; then replayActions ; else gameActions"></div>
  <ng-template #gameActions>
    <button mat-stroked-button (click)="join.next()" [disabled]="gameState?.deleted">
      Play
    </button>
    <button mat-stroked-button (click)="leave()">
      Leave
    </button>
    <button mat-stroked-button (click)="passTurn()" [disabled]="gameState?.deleted">
      End your turn
    </button>
  </ng-template>
  <ng-template #replayActions>
    <button mat-stroked-button (click)="switchSides()">
      Switch sides
    </button>
  </ng-template>
</div>
