<ptcg-sidebar-container>

  <ptcg-sidebar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let user of (users$ | async)"
        class="ptcg-no-padding-list-item"
        [matMenuTriggerFor]="menu">
        <ptcg-user-bar [user]="user"></ptcg-user-bar>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Send message</button>
          <button mat-menu-item>Invite to game</button>
          <button mat-menu-item>Show profile</button>
        </mat-menu>
      </a>
    </mat-nav-list>
  </ptcg-sidebar>

  <mat-toolbar>
    <mat-toolbar-row>
      <h1>Games</h1>

      <span class="ptcg-u-spacer"></span>

      <button mat-raised-button color="primary" (click)="createGame()">
        Create game
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <ptcg-content>
    <p>Status: <span>{{isConnected ? 'connected' : 'disconnected' }}</span></p>

    <table mat-table [dataSource]="games$ | async" class="mat-elevation-z2">
      <!-- Game ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let game">{{game.gameId}}</td>
      </ng-container>

      <!-- Current turn -->
      <ng-container matColumnDef="turn">
        <th mat-header-cell *matHeaderCellDef>Turn</th>
        <td mat-cell *matCellDef="let game">{{game.turn}}</td>
      </ng-container>

      <!-- Player 1 -->
      <ng-container matColumnDef="player1">
        <th mat-header-cell *matHeaderCellDef>Player 1</th>
        <td mat-cell *matCellDef="let game">
          <ptcg-player-info [player]="game.players[0]"></ptcg-player-info>
        </td>
      </ng-container>

      <!-- Player 2 -->
      <ng-container matColumnDef="player2">
        <th mat-header-cell *matHeaderCellDef>Player 2</th>
        <td mat-cell *matCellDef="let game">
          <ptcg-player-info [player]="game.players[1]"></ptcg-player-info>
        </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let game">
          <ptcg-game-actions [game]="game"></ptcg-game-actions>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </ptcg-content>

</ptcg-sidebar-container>
