<ptcg-sidebar-container>

  <ptcg-sidebar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let client of (clients$ | async)"
        class="ptcg-no-padding-list-item"
        [matMenuTriggerFor]="menu">
        <ptcg-user-bar
          [user]="client.user"
          [marked]="clientId === client.clientId">
        </ptcg-user-bar>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
            *ngIf="loggedUserId !== client.user.userId"
            [routerLink]="['/message', client.user.userId]">
            Send message
          </button>
          <button mat-menu-item
            *ngIf="clientId !== client.clientId"
            [disabled]="loading"
            (click)="createGame(client.clientId)">
            Invite to game
          </button>
          <button mat-menu-item
            [routerLink]="['/profile', client.user.userId]">
            Show profile
          </button>
        </mat-menu>
      </a>
    </mat-nav-list>
  </ptcg-sidebar>

  <ptcg-content [loading]="loading">
    <mat-toolbar>
      <mat-toolbar-row>
        <h1>Games</h1>

        <span class="ptcg-u-spacer"></span>

        <button mat-raised-button color="primary"
          [disabled]="loading"
          (click)="createGame()">
          Create game
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="ptcg-active-games">
      <ptcg-games-table></ptcg-games-table>
    </div>

    <div class="ptcg-recent-matches">
      <ptcg-match-table></ptcg-match-table>
    </div>
  </ptcg-content>

</ptcg-sidebar-container>
