<ptcg-sidebar-container>

  <ptcg-sidebar>
    <mat-list>
      <mat-list-item *ngFor="let user of (users$ | async)">{{user.name}}</mat-list-item>
    </mat-list>    
  </ptcg-sidebar>

  <ptcg-content>
    <h1 class="mat-h1">Games</h1>

    <p>Status: <span>{{isConnected ? 'connected' : 'disconnected' }}</span></p>

    <p>
      <button mat-raised-button (click)="createGame()">Create game</button>
    </p>

    <ptcg-game [game]="game" *ngFor="let game of (games$ | async)">
    </ptcg-game>

  </ptcg-content>

</ptcg-sidebar-container>
